---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/Adi.jpeg";

const meta = {
	title: "About",
	description: "Adithya Krishna",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I'm a design engineer (or a full-stck developer? still confused)
  
			I used to work as a SWE-II at [Documenso](https://documenso.com) for ~7 months. Before that, I started my career working at [Red Hat](https://redhat.com) for ~2.5 years, where I worked with the Customer Portal team [https://access.redhat.com](https://access.redhat.com)
			<br />
			<br />
			I was also a [Google Season of Docs - GSoD '23](https://developers.google.com/season-of-docs) Technical Writer at [WasmEdge](https://github.com/WasmEdge) where I worked towards improving the documentation of the project and onboarding contributors. I was also a [Google Summer of Code - GSoC '23](https://summerofcode.withgoogle.com/) Developer at [OpenChemistry](https://openchemistry.org), where I worked on improving the [3DMol.js](https://github.com/3dmol/3Dmol.js) library.
			<br />
			<br />
			I'm a maintainer of [Meshery](https://github.com/meshery) (a CNCF Sandbox Project), where I used to contribute in areas of UI, GitHub Actions, docs, reviewing PRs, and suggesting improvements.
		</p>
		 
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul> -->
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
