---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/Adi.jpeg";

const meta = {
	title: "About",
	description: "Adithya Krishna",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-2 mt-6 text-white">
			I'm a design engineer (or a full-stack developer? still confused)
		</p>
		
		<p class="mb-2 mt-6 text-white">
			I used to work as a SWE-II at <a 
				href="https://documenso.com" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">Documenso</a> for ~7 months. Before that, I started my career working at <a 
				href="https://redhat.com" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">Red Hat</a> for ~2.5 years, where I worked with the Customer Portal team <a 
				href="https://access.redhat.com" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">https://access.redhat.com</a>
		</p>
		
		<p class="mb-2 mt-6 text-white">
			I was also a <a 
				href="https://developers.google.com/season-of-docs" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">Google Season of Docs - GSoD '23</a> Technical Writer at <a 
				href="https://github.com/WasmEdge" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">WasmEdge</a> where I worked towards improving the documentation of the project and onboarding contributors. I was also a <a 
				href="https://summerofcode.withgoogle.com/" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">Google Summer of Code - GSoC '23</a> Developer at <a 
				href="https://openchemistry.org" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">OpenChemistry</a>, where I worked on improving the <a 
				href="https://github.com/3dmol/3Dmol.js" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">3DMol.js</a> library.
		</p>
		
		<p class="mb-2 mt-6 text-white">
			I'm a maintainer of <a 
				href="https://github.com/meshery" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-[#29bc89]">Meshery</a> (a CNCF Sandbox Project), where I used to contribute in areas of UI, GitHub Actions, docs, reviewing PRs, and suggesting improvements.
		</p>

		<p class="mb-2 mt-6">
			<i>Clone or fork my <a
				class="text-[#29bc89]"
				href="https://github.com/adithyaakrishna/blog"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a>
			if you like me!</i>
		</p>
	</div>
</PageLayout>
